/* Start of custom CSS*/

/* Universal Styles*/

/* Font size, style, and color */
* {
    font-size: 1.1em;
    font-family: "Courier New", Courier, monospace;
    color: black;
    letter-spacing: 0.6px;
   }


/* Flex Box Configurations - Ratios for the three main parts */
  body {
    display: flex;
    margin: 0;
    flex-flow: column wrap;
  }

  /* Header */
  header {
    
  }

  /* Main */
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
  }

/* General Styles ====================================================================================================== */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container {
  /* margin: 3em 3em 10 1m; */
  border: 1px solid #0b0101;
}

/* Header elements ====================================================================================================== */

#full-name {
    padding-top: 0%;
}

#self-title {
    font-size: 0.7em;
}

#profile-picture {
  margin: auto;
  height: 3em;
}
/* Content elements ====================================================================================================== */

#information-header {
  margin: 1em 3em 1em 3em;
  font-size: 0.5em;
}

#information-content {
  margin: 0em 3em 2em 3em;
  font-size: 0.3em;
}
