/* Start of custom CSS*/

/* Universal Styles*/

/* Font size, style, and color */
* {
    font-size: 1.1em;
    font-family: "Courier New", Courier, monospace;
    color: black;
    letter-spacing: 0.6px;
   }


/* Flex Box Configurations - Ratios for the three main parts */
  body {
    display: flex;
    margin: 0;
    flex-flow: column wrap;
  }

  /* Header */
  header {
    
  }

  /* Main */
  /* TODO: Ratio issue at 150% zoom */
  main {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    margin: 0em 6em 0em 6em;
    gap: 1em;
  }

/* General Styles ====================================================================================================== */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container {
  border: 1px solid #0b0101;
  flex-grow: 1;
  flex-basis: 25%;
}

/* Header elements ====================================================================================================== */

#full-name {
  margin-top: 0.3em;
  font-size: 2.5em;
  padding-top: 0%;
  font-weight: bold;
}

#self-title {
  margin-top: -2%;
  padding-top: 0%;
  font-size: 1.7em;
  font-weight: normal;
}

#profile-picture {
  margin: auto;
  height: 6em;
}
/* Content elements ====================================================================================================== */

#information-header {
  margin: 1em 3em 1em 3em;
  font-size: 1.3em;
  font-weight: bold;
}

#information-content {
  margin: 0em 3em 2em 3em;
  font-size: 0.6em;
  font-weight: normal;
}
